# FastAPI Server Configuration
FastAPI:
    HOST: "0.0.0.0"
    PORT: "8000"
    WORKERS: "2"
    LOG_LEVEL: "info"
    TIMEOUT: "240"
    GRACEFUL_TIMEOUT: "60"


# MongoDB Configuration
MongoDB:
    MONGO_URL: "mongodb://localhost:27017"
    DB_NAME: "ai_chat_app"


# Security Configuration
Security:
    ALGORITHM: "HS256"
    ACCESS_TOKEN_EXPIRE_MINUTES: 360 # 6 hours


# Logging Configuration
Logging:
    LOG_DIR: "logs"
    LOG_FILE_NAME: "app.log"
    MAX_FILE_SIZE: 5242880   # 5 MB in bytes
    MAX_FILE_COUNT: 10       # 10 files
    LOG_FORMAT: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"


# OpenAI Configuration
OpenAI:
    API_KEY: "EMPTY"
    BASE_URL: "http://10.90.12.105:11434/v1"
    MODEL: "openai.gpt-oss-20b-1:0"
    MAX_TOKENS: 1000
    TEMPERATURE: 0.5
    TOP_P: 1.0
    FREQUENCY_PENALTY: 0.0
    PRESENCE_PENALTY: 0.0
    REASONING_EFFORT: "low"

